<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js "></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title></title>
</head>
<body>


	<script type="text/javascript">

		function clearNode(node)
		{
				node.innerHTML='';
		}

		function addselectFORzachet() {

		let xpath = document.evaluate(`//div[@id='${event.target.id}' and contains(@name, 'mark')]`, document, null,XPathResult.FIRST_ORDERED_NODE_TYPE,null);

		let node = xpath.singleNodeValue;
		console.log(node);
		console.log(event.target.id);
		clearNode(node);

	 	var x = document.createElement("SELECT");
	 	x.setAttribute("id", "newselect");
		x.setAttribute("class", "form-control");

	 	var z = document.createElement("OPTION");
	   z.setAttribute("id", "1");
	   var t = document.createTextNode("зачет");
	   z.appendChild(t);

	   var n = document.createElement("OPTION");
	   n.setAttribute("id", "2");
	   var p = document.createTextNode("незачет");
	   n.appendChild(p);
		 x.appendChild(z);
		 x.appendChild(n);
		 node.append(x);
	}

		function addselectFORexam() {
			let xpath = document.evaluate(`//div[@id='${event.target.id}' and contains(@name, 'mark')]`, document, null,XPathResult.FIRST_ORDERED_NODE_TYPE,null);

			let node = xpath.singleNodeValue;
			console.log(node);
			console.log(event.target.id);
			clearNode(node);


			var x = document.createElement("select");
			x.setAttribute("id", "newselect");
			x.setAttribute("class", "form-control");

			var z = document.createElement("option");
			z.setAttribute("id", "1");
		    var t = document.createTextNode("отл");
		    z.appendChild(t);
		    var n = document.createElement("OPTION");
		    n.setAttribute("id", "2");
		    var p = document.createTextNode("хор");
		    n.appendChild(p);
		    var l = document.createElement("OPTION");
		   	l.setAttribute("id", "3");
		    var d = document.createTextNode("удовл");
		    l.appendChild(d);
				x.appendChild(z);
				x.appendChild(n);
				x.appendChild(l);
				node.appendChild(x);

	}

	function change() {
		console.log(event.target.name);

		if (event.target.name == "type")
		{
		var selectoption = event.target.value;
			switch (selectoption)
			{
				case "0":
					let xpath = document.evaluate(`//div[@id='${event.target.id}' and contains(@name, 'mark')]`, document, null,XPathResult.FIRST_ORDERED_NODE_TYPE,null);
					let node = xpath.singleNodeValue;
					clearNode(node);
					break;
				case "1" : addselectFORzachet();

				break;
				case "2" :
				case "3" : addselectFORexam();

				break;
			}
		}
	}

	function addDiscipline()
	{
		let numRows = document.getElementById('numRows');
		let inputStr = `<div class="col-md-3">
										<input type="text" class="form-control" placeholder="Название дисциплины" pattern="^[А-Яа-яЁё\\s]+$">
										</div>`;
		let inputStrZE = `<div class="col-md-3">
											<input type="text" class="form-control" placeholder="Количество з.е(число)" pattern="^[ 0-9]+$">
											</div>`;
		let numStr= `<div class="col-sm-1">
								<label>${+numRows.value + 2}</label>
								</div>`;
		let node = document.createElement('div');

		node.setAttribute("class","form-group");
		node.setAttribute("id","discipline[]");

		let row = document.createElement('div');
		row.setAttribute("class","row");
		row.insertAdjacentHTML('afterbegin',numStr);

		let select = document.createElement('select');


		select.setAttribute('id',+numRows.value + 1);
		select.setAttribute('name','type');
		numRows.setAttribute('value',+numRows.value + 1);
		select.setAttribute('class','form-control');

		let options = document.createElement('option');
		options.setAttribute('value','0');
		options.appendChild(document.createTextNode('Тип аттестации'));
		options.setAttribute('selected','selected');

		select.appendChild(options);

		options = document.createElement('option');
		options.setAttribute('value','1');
		options.appendChild(document.createTextNode('Зачет'));

		select.appendChild(options);

		options = document.createElement('option');
		options.setAttribute('value','2');
		options.appendChild(document.createTextNode('Дифференцированный зачет'));

		select.appendChild(options);

		options = document.createElement('option');
		options.setAttribute('value','3');
		options.appendChild(document.createTextNode('Экзамен'));

		select.appendChild(options);

		let foraddselect = document.createElement('div');
		foraddselect.setAttribute('class','col-md-2 form-group');
		foraddselect.insertAdjacentElement('beforeend', select);

		let mark= document.createElement('div');
		mark.setAttribute('id', +document.getElementById('numRows').value);
		mark.setAttribute('class','col-md-2');
		mark.setAttribute('name','mark');

		row.insertAdjacentHTML('beforeend',inputStr);
		row.insertAdjacentHTML('beforeend',inputStrZE);
		row.insertAdjacentElement('beforeend',foraddselect);
		row.insertAdjacentElement('beforeend',mark);

		node.insertAdjacentElement('beforeend',row);
		document.getElementById("addDisc").insertAdjacentElement('beforebegin', node);

	}
		function validFunction() {
			let xpath = document.evaluate(`//select[@name='type']`, document, null,XPathResult.ORDERED_NODE_SNAPSHOT_TYPE,null);
			let result = true;
			let arrayOfErrors = [];
			for (let i = 0, length = xpath.snapshotLength; i < length; ++i) {
	        if (xpath.snapshotItem(i).value=="0")
					{
						result=false;
						arrayOfErrors.push(+xpath.snapshotItem(i).id + 1);
					}
	    }
			alert(`Выберите поле "тип аттестации" в строках ${arrayOfErrors}`);
			return result;
			//let node = xpath.singleNodeValue;
		}
	</script>
		<form onchange="change()" onsubmit="return validFunction()">
  		<div class="form-group">
    		<label for="surname">Фамилия</label>
    		<input type="text" class="form-control" id="surname"  placeholder="Введите имя студента">
  		</div>
  		<div class="form-group">
    		<label for="name">Имя</label>
    		<input type="text" class="form-control" id="name" placeholder="Введите фамилию студента">
  		</div>
  		<div class="form-group">
    		<label for="patronymic">Отчество</label>
    		<input type="text" class="form-control" id="patronymic"  placeholder="Введите отчество студента">
  		</div>
		<label for="discipline[]">Дисциплины</label>
  	<div class="form-group" id="discipline[]" >
			<div class="row"  id='0'>
				<div class="col-sm-1">
					<label>1</label>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" placeholder="Название дисциплины" pattern="^[А-Яа-яЁё\s]+$">
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" placeholder="Количество з.е(число)" pattern="^[ 0-9]+$">
				</div>
				<div id = "foraddselect" class="col-md-2 form-group">
					<select id="0" name="type" class="form-control" >
						<option value="0" selected disabled>Тип аттестации</option>
						<!-- <optgroup label="Тип аттестации"> -->
						<option value="1">Зачет</option>
						<option value="2">Дифференцированный зачет</option>
						<option value="3">Экзамен</option>
					</select>
				</div>
				<div id="0" name="mark" class="col-md-2">
				</div>
			</div>
  	</div>
		<input class="btn btn-primary" type="button" id="addDisc" value="Добавить дисциплину" onclick="addDiscipline()">
		<input id="numRows" name="numRows" type="hidden" value="0">
		<!-- <button id="addDisc" class="btn btn-primary" onclick="addDiscipline()">Добавить дисциплину</button> -->
		<button class="btn btn-primary">Удалить дисциплину</button>
		<!-- Навесить сюда обработчик на добавление discipline[]
		<button class="btn btn-primary">Добавить дисциплину</button>
		-->
  	<button type="submit" class="btn btn-primary">Отправить</button>
	</form>

</body>
</html>
