
/* Добавьте черный цвет фона в верхнюю панель навигации. */
.topnav {
  background-color:#FFF ;
  overflow: hidden;
}
 #one {
 position: absolute;
 width: 10%;
 height: 15%;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Изменить цвет ссылок при наведении */
.topnav a:hover {
  background-color: #87CEEB;
  color: white;
}

/* Добавить цвет активной/текущей ссылке */
.topnav a.active {
  background-color: #1E90FF;
  color: white;
}

#h2about {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
h3 {
  position: relative;
  text-align: left;
  font-family:Times New Roman; 
}
#textabout{
  text-align: left;
  margin: 10px 20px;
  padding-left: 10px;
  padding-top: 10px;
}
#abouth3 {
  position: relative;
  text-align: left;
  font-family:Times New Roman; 
  margin: 10px 20px;
  padding-left: 10px;
  padding-top: 10px;
}
#hrefforstudyplan {
font-family:Times New Roman;
font-size: 30px;
 margin: 10px 20px;
 padding: 10px 20px;
}
hr {
  height: 2px;
  background-color: #B0E0E6;

}
footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

